#big{
    width: 150px;
    height: 450px;
    padding: 5px;
    background-color: rgb(246, 244, 244);
    border: 2px solid black ;
}
#mini1{
    margin: 5px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: red;
    border: 2px solid black;
}

#mini2{
    margin: 5px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: yellow;
    border: 2px solid black;
}

#mini3{
    
    margin: 5px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: green;
    border: 2px solid black;
}
