
*{
    background-color: black;
}
.card{
    width: 200px;
    height: 285px;
    display: inline-block;
    border: 3px solid black;
    margin: 20px ;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 3px 3px 10px rgb(218, 207, 152);
    transition: 1s ease-in;
    
}

.card:hover{
    box-shadow: 0px 5px 20px rgb(212, 199, 125);
    
}
img {
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

/* .desc{
    padding: ;
} */